aioredis==1.0.0
asgiref==2.3.2
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
channels==2.1.6
channels-api==0.4.1
channels-redis==2.3.3
constantly==15.1.0
daphne==2.2.4
Django==2.0.1
djangorestframework==3.9.0
hiredis==0.3.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
msgpack==0.6.0
nltk==3.4
node==0.9.23
odict==1.6.2
plumber==1.5
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
PyHamcrest==1.9.0
pytz==2018.9
singledispatch==3.4.0.3
six==1.12.0
tqdm==4.29.1
Twisted==18.9.0
txaio==18.8.1
websockets==7.0
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.lifecycleevent==4.3
zope.proxy==4.3.1
